body{
    font-family: Roboto;
}

.top-quarter{   
   
    
}

.header{     
    display: flex;
    justify-content: space-around;
    
    padding: 10px;
    background-color: #1f2937;
    width: auto;
    height: 250px;
    
    
}

.header .logo{     
    font-size: 24px;
    color: #f9faf8;
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.header .top-links{
    display:flex;
    color: #e5e7eb;
    font-size: 18px;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
   
}